src/main/mule/artthimatic-cicd-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="127b37db-bafb-46f8-8704-60a6db8fe072" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="8b5bf199-4a0b-4485-809c-e9fdfa8b11ed" file="my config-dev.yaml" />
	<flow name="artthimatic-cicd-demo-apiFlow" doc:id="01ea218b-ecd2-4a16-b3d9-43881fe29394" >
		<http:listener doc:name="Listener" doc:id="6fd0508f-6cb8-4389-ad04-7700af3c6110" config-ref="HTTP_Listener_config" path="/arthimatic"/>
		<logger level="INFO" doc:name="Logger" doc:id="8f7b63d7-bdb1-4c5a-830b-02f77827a1fa" message="------before the excuted the flow------"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="num1" doc:id="1ea499a2-ea4b-4f8d-ad4a-8313b3cfc4f3" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="num2" doc:id="66fdbf44-ae88-4f5e-a09f-9d1758b98332" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="ae8953a9-2b74-42d4-a96c-f2fe8a797677" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": p('log.message'),
	"addition": (vars.num1 + vars.num2),
	"subtraction": (vars.num1 - vars.num2),
	"multiplication": (vars.num1 * vars.num2),
	"division": (vars.num1 / vars.num2)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1b6256a3-c6fa-49be-95fc-19a70fcfb317" message="-----sucessfully excuted the fllow------"/>
	</flow>
</mule>
